<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand link-warning" href="/">
            Members Only <i class="bi bi-file-lock"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <form class="d-flex">
                <% if (locals.currentUser) {%>
                    <a href="/member">
                        <button class="btn btn-outline-warning" type="button">
                            <i class="bi bi-heart-half"></i> Become Member
                        </button>
                    </a>
                    <a href="/admin">
                        <button class="btn btn-outline-warning" type="button">
                            <i class="bi bi-heart-fill"></i> Become Admin
                        </button>
                    </a>
                    <a href="/message">
                        <button class="btn btn-outline-warning" type="button">
                            <i class="bi bi-envelope"></i> Create Message
                        </button>
                    </a>
                <% } else { %>
                    <a href="/log-in">
                        <button class="btn btn-outline-warning" type="button">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </button>
                    </a>
                    <a href="/sign-up">
                        <button class="btn btn-outline-warning" type="button">
                            <i class="bi bi-person-plus-fill"></i> Signup
                        </button>
                    </a>
                <% } %>
            </form>
        </div>
    </div>
</nav>
